@import "../../ui/colors";
@import "../../ui/values";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: $navbarheight;
  width: 100%;
  padding: 0 3vw;
  background-color: #dbecffd5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 2rem;
    font-style: italic;
    letter-spacing: 0.2vw;
  }

  .items {
    .link {
      text-decoration: none;
      padding: 0.5vw 0.7vw;
      margin: 0 0.5vw;
      transition: 0.5s all ease-in-out;
      color: #808080;
      font-size: 1.3rem;
      font-weight: 500;
      transition: 0.5s all ease-in-out;

      &:hover {
        // color: $buttoncolor2;
        color: #000000e7;
      }
    }
  }
}
