@import "../../ui/colors";
@import "../../ui/values";

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@include keyframes(slide-left) {
  0% {
    left: -100%;
  }

  100% {
    left: 0;
  }
}

.skills {
  position: absolute;
  left: 0;
  min-height: 100vh;
  width: 100%;
  padding: calc(#{$navbarheight} + 1rem) 0 2rem 0;
  background-color: $lightbackground;
  @include animation("slide-left 1.4s 1");

  .wrapper {
    max-width: 1080px;
    margin: 20px auto;
    padding: 0 20px;
    position: relative;

    .skillsopen {
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 2rem;
      color: #000000b0;
    }

    .skillsclose {
      font-size: 2rem;
      font-weight: 400;
      margin-top: 3rem;
      color: #000000b0;
    }

    .skills_content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 3rem;

      a {
        font-size: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.8);
        transition: 0.4s all ease-in-out;

        &:hover {
          transform: scale(1.07) translateY(-5px);
          box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 1);
        }
      }
    }
  }
}
