@import '../../ui/colors';
@import '../../ui/values';

.skills {
  min-height: 100vh;
  padding: calc(#{$navbarheight} + 1rem) 0 2rem 0;
  background-color: $lightbackground;

  .wrapper {
    max-width: 1080px;
    margin: 20px auto;
    padding: 0 20px;
    position: relative;

    .skillsopen {
      font-size: 2rem;
      font-weight: 400;
      margin-bottom: 2rem;
      color: #000000b0;
    }

    .skillsclose {
      font-size: 2rem;
      font-weight: 400;
      margin-top: 3rem;
      color: #000000b0;
    }

    .skills_content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 3rem;

      a {
        font-size: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.8);
        transition: 0.4s all ease-in-out !important;

        &:hover {
          transform: scale(1.07) translateY(-5px);
          box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 1);
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .skills {
    .wrapper {
      .skills_content {
        gap: 2rem;

        a {
          font-size: 2.5rem;
        }
      }
    }
  }
}
